* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 182, 226);
  background-image: url(Bg1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

#judul {
  background-color: rgb(155, 195, 235);
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
  border-bottom: 5px ridge rgb(247, 93, 119);
  border-top: 5px ridge rgb(247, 232, 93);
  border-left: 5px ridge rgb(114, 228, 69);
  border-right: 5px ridge rgb(56, 236, 167);
}

.media img {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  border-bottom: 5px double rgb(93, 247, 188);
  border-top: 5px double rgb(137, 247, 93);
  border-left: 5px double rgb(247, 93, 119);
  border-right: 5px double rgb(247, 93, 119);
}

.content {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  text-align: justify;
}

.content .opening p {
  margin-bottom: 30px;
  text-align: justify;
}

.content img {
  width: 325px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.content div h3,
.content div p {
  margin-top: 30px;
  margin-bottom: 30px;
}

#form {
  padding: 20px;
  background-color: rgb(155, 195, 235);
  color: rgb(0, 2, 3);
  border: 3px solid rgb(233, 74, 127);
}
